@font-face{font-family:bangla; src: url('../data/font/SutonnyMJ.ttf')}
@font-face{font-family:kutmj; src: url('../data/font/kutmj.ttf')}
@font-face{font-family:arabic; src: url('../data/font/arabic.ttf')}
@font-face{font-family:tbangla; src: url('../data/font/tbangla.ttf')}